# Introduction - SVM

SVM is the Supervised Machine Learning algorithm used for both classification, regression. But mostly preferred for classification.

Given a dataset, the algorithm tries to divide the data using hyperplanes and then makes the predictions. SVM is a non-probabilistic linear classifier. While other classifiers, when classifying, predict the probability of a data point to belong to one group or the another, SVM directly says to which group the datapoint belongs to without using any probability calculation.


How it works?
- SVM constructs a best line or the decision boundary called **Hyperplane** which can be used for classification or regression or outlier detection.  The dimension of the hyperplane depends upon the number of features. If the number of input features is 2, then the hyperplane is just a line. If the number of input features is 3, then the hyperplane becomes a two-dimensional plane.

- This hyperplane creates 2 margin lines parallel to it which have some distance so that it can distinctly classify the data points. The distance between the 2 margin lines are called **marginal distance**.

- These 2 margin lines passes through the most nearest +ve points and the most nearest -ve points. Those points through which the margin lines pass are called **support vectors**. Support vectors are important as it helps to determine the maximum distance of the marginal plane.

## Understanding the Mathematics involved
Let’s take the example of the following dataset and see how can we divide the data into appropriate groups.
<img src='SVM_intution.PNG'  width="300">

We can see that there are two groups of data. The question is how to divide these points into two groups. It can be done using any of the three lines. Or, for that purpose, there can be an infinite number of straight lines that can divide these points into two classes. Now, which line to choose?
SVM solves this problem using the maximum margin as shown
<img src='SVM_hyperplane.PNG' width="400">

The black line in the middle is the optimum classifier. This line is drawn to maximise the distance of the classifier line from the nearest points in the two classes. It is also called a __hyperplane__ in terms of  SVM.
A _Hyperplane_ is an n-1 dimensional plane which optimally divides the data of n dimensions. Here, as we have only a 2-D data, so the hyperplane can be represented using one dimension only. Hence, the hyperplane is a line here.
The two points (highlighted with circles) which are on the yellow lines, they are called the __support vectors__. As it is a 2-D figure, they are points. In a multi-dimensional space, they will be vectors, and hence, the name- support vector machine as the algorithm creates the optimum classification line by maximising its distance from the two support vectors.

When the data is not linearly separable,  then to create a hyperplane to separate data into different groups, the SVM algorithm needs to perform computations in a higher-dimensional space. But the introduction of new dimensions makes the computations for the SVMs more intensive, which impacts the algorithm performance. To rectify this, mathematicians came up with the approach of Kernel methods.
Kernel methods use kernel functions available in mathematics. The unique feature of a kernel function is to compute in a higher-dimensional space without calculating the new coordinates in that higher dimension. It implicitly uses predefined mathematical functions to do operations on the existing points which mimic the computation in a higher-dimensional space without adding to the computation cost as they are not actually calculating the coordinates in the higher dimension thereby avoiding the computation of calculating distances from the newly computed points.  This is called the kernel trick.
<img src= "SVM_3D_Hyperplane.PNG" width="300">
                                                                        Image: bogotobogo.com

In the left diagram above, we have a non-linear distribution of data as we can not classify a data using a linear equation. To solve this problem, we can project the points in a 3-dimensional space and then derive a plane which divides the data into two parts. In theory, that’s what a kernel function does without computing the additional coordinates for the higher dimension.

## Support Vector Regression

Let’s talk about Linear Regression first. How to determine the best fit line? The idea is to create a line which minimises the total residual error. The SVR approach is a bit different. Instead of trying to minimise the error, SVR focuses on keeping the error in a fixed range. This approach can be explained using three lines. The first line is the best fit regressor line, and the other two lines are the bordering ones which denote the range of error.
<img src="SVR.PNG" width="500">

What does this mean? It means that we are going to consider the points inside this ± error boundary only for preparing our model. In other words, the best fit line(or the hyperplane) will be the line which goes through the maximum number of data points and the error boundaries are chosen to ensure maximum inclusion. This error term can be customized  using the '_epsilon_' parameter defined for the scikit-learn SVR implementation.

## Python Implementation

### Business Case:-To find out based on given features whether the loan will get approved or not.

# Supervised learning with classification task(2 classes)

In [1]:
##importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
## loading the data
data=pd.read_csv('loan_approved.csv')

In [3]:
## Getting the first few rows of data
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
data.rename(columns={'Loan_Status (Approved)':'Loan_Status'},inplace=True)

In [5]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
# Domian analysis.

## Basic Checks

In [ ]:
#head,tail,info,describe for both numerical and categorical

In [6]:
data.shape

(614, 13)

In [7]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [10]:
data.describe() # statistical summary of numeric data

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [11]:
# # statistical summary of categorical data
data.describe(include='O')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
count,614,601,611,599,614,582,614,614
unique,614,2,2,4,2,2,3,2
top,LP001002,Male,Yes,0,Graduate,No,Semiurban,Y
freq,1,489,398,345,480,500,233,422

In [12]:
data.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [13]:
data.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [14]:
# fetch numerical columns
num_col=data.select_dtypes(include=['int64','float64']).columns
num_col

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [15]:
# fetch categorical columns
cat_col=data.select_dtypes(include=['object'])
cat_col.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
data.Gender.unique()

In [ ]:
data.Gender.value_counts()

In [16]:
# find unique categories in dataset
for i in cat_col.drop('Loan_ID',axis=1):
    print(i,data[i].unique())
    print(data[i].value_counts())
    print('******************')

Gender ['Male' 'Female' nan]
Male      489
Female    112
Name: Gender, dtype: int64
******************
Married ['No' 'Yes' nan]
Yes    398
No     213
Name: Married, dtype: int64
******************
Dependents ['0' '1' '2' '3+' nan]
0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64
******************
Education ['Graduate' 'Not Graduate']
Graduate        480
Not Graduate    134
Name: Education, dtype: int64
******************
Self_Employed ['No' 'Yes' nan]
No     500
Yes     82
Name: Self_Employed, dtype: int64
******************
Property_Area ['Urban' 'Rural' 'Semiurban']
Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64
******************
Loan_Status ['Y' 'N']
Y    422
N    192
Name: Loan_Status, dtype: int64
******************

In [17]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Exploratory Data Analysis

In [ ]:
data.shape

In [ ]:
# Univariate analysis
# Bivaraite analysis--Autoviz

In [ ]:
sns.countplot(x='Gender',data=data)

In [ ]:
!pip install sweetviz

In [ ]:
import sweetviz as sv #  library for univariant analysis

my_report = sv.analyze(data)## pass the original dataframe

my_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

In [ ]:
# This cell is used in google colab
import sweetviz as sv #  library for univariant analysis

my_report = sv.analyze(data)## pass the original dataframe

my_report.show_html('myreport.html') # Default arguments will generate to "SWEETVIZ_REPORT.html"

In [ ]:
## Bivariate Analysis
data.info()

In [ ]:
# Create dataframe which includes categorical data
data1=data[['Gender','Married','Dependents','Education','Self_Employed','Property_Area']]
# Create dataframe which includes numerical data
data2=data[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']]

In [ ]:
data1.head()

In [ ]:
data2.head()

In [ ]:
plt.figure(figsize=(10,15), facecolor='white')#To set canvas
plotnumber = 1#counter

for column in data1:#accessing the categorical columns
    if plotnumber<=6 :
        ax = plt.subplot(3,3,plotnumber)
        sns.countplot(x=data1[column],hue=data['Loan_Status'])
        plt.xlabel(column,fontsize=10)#assign name to x-axis and set font-20
        plt.ylabel('Loan Status',fontsize=10)
    plotnumber+=1#counter increment
plt.tight_layout()

In [ ]:
plt.figure(figsize=(20,25), facecolor='white')#To set canvas
plotnumber = 1#counter

for column in data2:#accessing the numerical columns
    if plotnumber<=6 :
        ax = plt.subplot(2,3,plotnumber)
        sns.histplot(x=data2[column],hue=data['Loan_Status'])
        plt.xlabel(column,fontsize=20)#assign name to x-axis and set font-20
        plt.ylabel('Loan Status',fontsize=20)
    plotnumber+=1#counter increment
plt.tight_layout()

In [ ]:
# Multivariate analysis
sns.pairplot(data,hue='Loan_Status')

## Data Preprocessing Pipeline

In [ ]:
## Checking missing values
data.isnull().sum()

# if the percentage of missing value is greter 80% then drop the column

In [ ]:
len(data)

In [ ]:
13/614*100

In [ ]:
## How much values have been missed
data.isnull().sum()/len(data)*100

### HAndle missing values in Gender

In [ ]:
data.Gender.dtypes

In [ ]:
data.Gender.value_counts()

In [ ]:
data['Gender'].mode()

In [ ]:
## Getting the rows where values are missed in Gender features
data.loc[data['Gender'].isnull()==True]

In [ ]:
## Imputing the missing values with mode
data.loc[data['Gender'].isnull()==True,'Gender']='Male'

In [ ]:
data.Gender.isnull().sum()

In [ ]:
sns.countplot(data=data,x='Gender',hue='Loan_Status')

In [ ]:
data.Dependents.dtypes

In [ ]:
data['Dependents'].mode()

In [ ]:
## Getting the values in Dependents
data.loc[data['Dependents'].isnull()==True]

In [ ]:
sns.countplot(data=data,x='Dependents',hue='Loan_Status')

In [ ]:
# From the graphical representation it can be seen that as the number of dependents
#getting increased,the chances of approval is less, since we have missing values and if we approve
# loan for them who has 0 dependent it can turn into major loss(high chance).Hence we will substitue missing values
#by 3+ for possible rejection.
data.loc[data['Dependents'].isnull()==True,'Dependents']='3+'

In [ ]:
data.Dependents.isnull().sum()

In [ ]:
data.Married.dtypes

In [ ]:
data.Married.mode()

In [ ]:
## For married feature
data.loc[data['Married'].isnull()==True]

In [ ]:
## Imputing with yes i.e mode
data.loc[data['Married'].isnull()==True,'Married']='Yes'

In [ ]:
data.Married.isnull().sum()

In [ ]:
data.Self_Employed.dtypes

In [ ]:
## selfemployed column
data.Self_Employed.mode()

In [ ]:
## Checking Self_Employed
data.loc[data['Self_Employed'].isnull()==True]
#data.loc[data['Self_Employed']=='No']

In [ ]:
data.loc[data['Self_Employed'].isnull()==True,'Self_Employed']='No'

In [ ]:
data.Self_Employed.isnull().sum()

In [ ]:
data.isnull().sum()

In [ ]:
data.LoanAmount.dtypes

In [ ]:
## Histogram since it has numerical value
plt.figure(figsize=(4,3))
sns.histplot(data=data,x='LoanAmount')
plt.show()

Since data is skewed, we can use median to replace the nan value. It is recommended to use mean only for symmetric data distribution.

In [ ]:
# Check median for LoanAmount column
data['LoanAmount'].median()

In [ ]:
# Replace the nan values in LoanAmount column with median value
data.loc[data['LoanAmount'].isnull()==True,'LoanAmount']=data['LoanAmount'].median()

In [ ]:
data.LoanAmount.isnull().sum()

### Loan amount term

In [ ]:
data.Loan_Amount_Term.dtypes

In [ ]:
sns.histplot(data=data,x='Loan_Amount_Term',kde=True)

In [ ]:
data.Loan_Amount_Term.median()

In [ ]:
# replace the nan values in Loan_Amount_Term with the median value
data.loc[data['Loan_Amount_Term'].isnull()==True,'Loan_Amount_Term']=data.Loan_Amount_Term.median()

In [ ]:
data.Loan_Amount_Term.isnull().sum()

In [ ]:
# Credit_History
data.Credit_History.dtypes

In [ ]:
data.Credit_History.value_counts()

In [ ]:
data.Credit_History.median()

In [ ]:
sns.countplot(x='Credit_History',data=data,hue='Loan_Status')

In [ ]:
data.Credit_History.value_counts()

In [ ]:
data.loc[data['Credit_History'].isnull()==True,'Credit_History']=0.0

In [ ]:
data.isnull().sum()

In [ ]:
# Check for duplicates
data.duplicated().sum()

### Handling outliers

In [ ]:
num_col

In [ ]:
plt.figure(figsize=(10,5),facecolor='white')
plotnumber=1
for column in num_col:
    if plotnumber<9:
        ax=plt.subplot(3,3,plotnumber)
        sns.boxplot(x=data[column])
        plt.xlabel(column,fontsize=10)
        plt.ylabel('Count',fontsize=10)
    plotnumber+=1
plt.tight_layout()

### Scaling

In [ ]:
data.head(3)

In [ ]:
## scaling data
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
data[['ApplicantIncome','CoapplicantIncome','LoanAmount']]=scale.fit_transform(data[['ApplicantIncome','CoapplicantIncome',
                          'LoanAmount']])

In [ ]:
data.head()

In [ ]:
## Step 2 Handling the categorical data
data.info()

In [ ]:
data1=data.copy()

In [ ]:
data1

In [ ]:
## Using label encoder to convert the categorical data to numerical data
## Donot run this code.This is just implementation of label encoder.This dataset have lots relationship with target.
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder() # object creation

data1.Gender=lc.fit_transform(data1.Gender)
data1.Married=lc.fit_transform(data1.Married)
#data1.Education=lc.fit_transform(data1.Education)
#data1.Property_Area=lc.fit_transform(data1.Property_Area)
#data1.Loan_Status=lc.fit_transform(data1.Loan_Status)
#data1.Dependents=lc.fit_transform(data1.Dependents)
#data1.Self_Employed=lc.fit_transform(data1.Self_Employed)

In [ ]:
data1.head(3)

In [ ]:
data.head(3)

### Get dummies

In [ ]:
data2=data.copy()

In [ ]:
data2

In [ ]:
#data['Gender'] = data['Gender'].astype('category')

In [ ]:
pd.get_dummies(data['Gender'],prefix='Gender',dtype='int')

In [ ]:
data.info()

In [ ]:
#data['Gender'] = data['Gender'].astype('category')

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
## One hot encoding
df1=pd.get_dummies(data2['Gender'],prefix='Gender',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Gender'],axis=1)

In [ ]:
df1

In [ ]:
data2.head()

In [ ]:
data.Married.value_counts()

In [ ]:
df1=pd.get_dummies(data2['Married'],prefix='Married',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Married'],axis=1)

In [ ]:
data2.head(3)

In [ ]:
df1=pd.get_dummies(data['Education'],prefix='Education',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Education'],axis=1)

In [ ]:
data2.head(1)

In [ ]:
df1=pd.get_dummies(data['Property_Area'],prefix='Property_Area',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Property_Area'],axis=1)

In [ ]:
data2.head()

In [ ]:
df1=pd.get_dummies(data['Dependents'],prefix='Dependents',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Dependents'],axis=1)

In [ ]:
df1=pd.get_dummies(data['Self_Employed'],prefix='Self_Employed',drop_first=True,dtype='int')
data2=pd.concat([data2,df1],axis=1).drop(['Self_Employed'],axis=1)

In [ ]:
data2.head()

In [ ]:
## Saving the preprocessed data.
data2.to_csv('Preprocessed_data.csv')

In [ ]:
## Loading the data
pre_data=pd.read_csv('Preprocessed_data.csv')

In [ ]:
pre_data

## Feature Selection

In [ ]:
!pip install seaborn --upgrade

In [ ]:
pre_data.head()

In [ ]:
# Removing redundant columns
#We can drop loan id.
l1=['Unnamed: 0','Loan_ID']
pre_data.drop(l1,axis=1,inplace=True)

In [ ]:
pre_data

In [ ]:
## checking correlation
corr_data=pre_data[['ApplicantIncome','CoapplicantIncome','LoanAmount']]

In [ ]:
corr_data

In [ ]:
sns.heatmap(corr_data.corr(),annot=True)

In [ ]:
## There is no relationship among the numerical data

In [ ]:
pre_data.Loan_Status=pre_data.Loan_Status.map({'Y':1,'N':0})

In [ ]:
pre_data.head()

## Model Creation

In [ ]:
pre_data.head(1)

In [ ]:
pre_data.columns

In [ ]:
## defining X and y
X=pre_data.loc[:,['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History','Gender_Male',
       'Married_Yes', 'Education_Not Graduate', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Self_Employed_Yes']]
y=pre_data.Loan_Status

In [ ]:
X.head()

In [ ]:
y

In [ ]:
## creating training and testing data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X, y,test_size=0.20,random_state=3)

In [ ]:
X_train.shape

In [ ]:
## balancing the data
pre_data.Loan_Status.value_counts()

In [ ]:
!pip install -U imbalanced-learn

In [ ]:
pip install imblearn

In [ ]:
# Install imblearn package - pip install imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [ ]:
#Smote is always applied on training data
X_smote, y_smote = smote.fit_resample(X_train,y_train)

**Counter** is a container which keeps track to how many times equivalent values are added. Python counter class is a part of collections module and is a subclass of dictionary.

In [ ]:
from collections import Counter
print("Actual Classes",Counter(y_train))
print("SMOTE Classes",Counter(y_smote))

In [ ]:
# Support Vector Classifier Model

from sklearn.svm import SVC
svclassifier = SVC() ## base model with default parameters
svclassifier.fit(X_smote, y_smote)

In [ ]:
# Predict output for X_test
y_hat=svclassifier.predict(X_test)

In [ ]:
y_hat

In [ ]:
y_test

In [ ]:
## evaluating the model created
from sklearn.metrics import accuracy_score,recall_score,precision_score,classification_report,f1_score
acc=accuracy_score(y_test,y_hat)
acc

In [ ]:
# F1 score considers both Precision and Recall for evaluating a model
f1=f1_score(y_test,y_hat)
f1

In [ ]:
# Calssification report measures the quality of predictions. True Positives, False Positives, True negatives and False Negatives
# are used to predict the metrics of a classification report

print(classification_report(y_test,y_hat))

In [ ]:
## checking cross validation score
from sklearn.model_selection import cross_val_score
scores = cross_val_score(svclassifier,X,y,cv=5,scoring='f1')
print(scores)
print("Cross validation Score:",scores.mean())
print("Std :",scores.std())
#std of < 0.05 is good.

## What is a Model Hyperparameter?

A model hyperparameter is a configuration that is external to the model and whose value cannot be estimated from data.

## Hyperparameters of Support Vector Machine

#### SVM separates data points that belong to different classes with a decision boundary. When determining the decision boundary, a soft margin SVM (soft margin means allowing some data points to be misclassified) tries to solve an optimization problem with the following goals:

#### 1)Increase the distance of decision boundary to classes (or support vectors)
#### 2)Maximize the number of points that are correctly classified in the training set

### There is obviously a trade-off between these two goals which and it is controlled by C which adds a penalty for each misclassified data point.

### If C is small, the penalty for misclassified points is low so a decision boundary with a large margin is chosen at the expense of a greater number of misclassification.

### If C is large, SVM tries to minimize the number of misclassified examples due to the high penalty which results in a decision boundary with a smaller margin. The penalty is not the same for all misclassified examples. It is directly proportional to the distance to the decision boundary.

<img src='1_XFtyzSNjexMecQ4wmqBfgA.PNG'  width="300">

<img src='1_k4wh7vzjDbQWXx7wKyH0kg.PNG'  width="600">

### Gamma is a hyperparameter used with non-linear SVM. One of the most commonly used non-linear kernels is the radial basis function (RBF). Gamma parameter of RBF controls the distance of the influence of a single training point.

### Low values of gamma indicate a large similarity radius which results in more points being grouped together.

### For high values of gamma, the points need to be very close to each other in order to be considered in the same group (or class). Therefore, models with very large gamma values tend to overfit.

<img src='1_JDSwT-svWnAu69fy9oguBw.png' width="600">


<img src='1_faj7x1I0uFwfU6mkLfUwvg.png' width="600">

<img src='1_5DtPKUzLI1e-FIjC-odFiw.png' width="600">

## GridSearchCV

#### It is the process of performing hyperparameter tuning in order to determine the optimal values for a given model. As mentioned above, the performance of a model significantly depends on the value of hyperparameters

#### Doing this manually could take a considerable amount of time and resources and thus we use GridSearchCV to automate the tuning of hyperparameters.

#### GridSearchCV tries all the combinations of the values passed in the dictionary and evaluates the model for each combination using the Cross-Validation method. Hence after using this function we get accuracy/loss for every combination of hyperparameters and we can choose the one with the best performance.

In [ ]:
from sklearn.model_selection import GridSearchCV

# defining parameter range
param_grid = {'C': [0.1, 5, 10,50,60,70],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
             'random_state':(list(range(1, 20)))}
model=SVC()
grid = GridSearchCV(model, param_grid, refit = True, verbose = 2,scoring='f1',cv=5)

# fitting the model for grid search
grid.fit(X,y)

In [ ]:
# print best parameter after tuning
print(grid.best_params_)

In [ ]:
#clf=SVC(C=100, gamma=0.001,random_state=42) ##0.1
clf=SVC(C=5, gamma=0.1,random_state=1) ##0.1

In [ ]:
clf.fit(X_smote, y_smote)

In [ ]:
y_clf=clf.predict(X_test)

In [ ]:
accuracy_score(y_test,y_clf)

In [ ]:
f1=f1_score(y_test,y_clf)
f1

In [ ]:
print(classification_report(y_test,y_clf))

In [ ]:
scores_after = cross_val_score(clf,X,y,cv=3,scoring='f1')
print(scores_after)
print("Cross validation Score:",scores_after.mean())
print("Std :",scores.std())
#std of < 0.05 is good.

# If you can see f1 score is improved however the recall is still lagging.

# Task:-Change the all preprocessing technqiue and try to see if performance can be improved for not.

# We still have ot gone through feature selection technqiue.

In [ ]:
from sklearn.model_selection import GridSearchCV

# defining parameter range
param_grid = {'C': [2,4,6,12,23],
              'gamma': [0.0011, 0.12, 0.101, 0.4001, 0.50001],
             'random_state':(list(range(1, 10)))}
svc1 =SVC()
grid = GridSearchCV(svc1, param_grid, refit = True, verbose = 2,scoring='f1',cv=5)

# fitting the model for grid search
grid.fit(X,y)

In [ ]:
# print best parameter after tuning
print(grid.best_params_)

In [ ]:
clf1=SVC(C=4, gamma=0.12,random_state=1)

In [ ]:
clf1.fit(X_smote, y_smote)

In [ ]:
y_clf1=clf1.predict(X_test)

In [ ]:
y_clf1=clf.predict(X_test)

In [ ]:
accuracy_score(y_test,y_clf1)

In [ ]:
f11=f1_score(y_test,y_clf1)
f11

In [ ]:
scores_after = cross_val_score(clf1,X,y,cv=5,scoring='f1')
print(scores_after)
print("Cross validation Score:",scores_after.mean())
print("Std :",scores.std())
#std of < 0.05 is good.